.header {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
  }

  .logo {
    animation: spin 8s linear infinite;
    background-color: #ff7f7f;
    height: 35px;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

  

  .logoAndImage{
    float: right;
  }
